.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
mat-slider {
  width: 300px;
}

/** No CSS for this example */
mat-form-field {
  width: 100%;
}
.example-chip-list {
  width: 100%;
}
p {
  font-family: Lato;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable {
  position: relative;
  display: block;
  cursor: pointer;
  height: 126px;
  width: 132px;
  border: 5px solid #000;
  border-radius: 50%;
}
.hoverable .hover-text {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.hoverable .background {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text {
  display: block;
}
.hoverable:hover .background {
  display: block;
}

#fileInput {
  display: none;
}

.mat-card + .mat-card {
  margin-top: 8px;
}

.example-result-card h2 {
  margin: 0 8px;
}

.example-result-card .example-label-container.example-label-horizontal {
  display: flex;
  justify-content: space-between;
  max-width: 284px;
}

.example-result-card .example-label-container.example-label-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 80px;
  // height: 48px;
}

.example-result-card .example-value-label {
  font-weight: 600;
}
.example-margin {
  width: 385px !important;
  margin-left: 45% !important;
}
