<nav class="navbar navbar-light bg-primary text-white">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" routerLink="home">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;" (click)="loginDialog()"
        >LOGIN</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about-us">ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="clients">CLIENTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="employers">EMPLOYERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact-us">CONTACT US</a>
    </li>
  </ul>
</nav>
