.example-card {
  max-width: 300px;
  height: 5%;
}

.example-header-image {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.myButton {
  padding: 10px;
  display: block;
  float: right;
  color: white;
  text-align: center;
}
body {
  background: #212833;
  font: 100 14px sans-serif;
  color: #000;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  text-align: center;
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}
::selection {
  background: rgba(0, 0, 0, 0.1);
}
h1 {
  font-weight: 100;
  font-size: 2.7em;
}
h3 {
  color: #111222;
  font-size: 1.6em;
}
a {
  color: RoyalBlue;
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: CornflowerBlue;
}

/* Circle Avatar Styles */

.circle {
  line-height: 0; /* remove line-height */
  display: inline-block; /* circle wraps image */
  margin: 5px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 79%; /* relative value */
  /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
  transition: linear 0.25s;
  height: 32px;
  width: 32px;
}

.circle img {
  border-radius: 50%; /* relative value for
				   adjustable image size */
}
.circle:hover {
  transition: ease-out 0.2s;
  border: 2px solid rgba(255, 255, 255, 0.8);
  -webkit-transition: ease-out 0.2s;
}
a.circle {
  color: transparent;
} /* IE fix: removes blue border */
.example-viewport {
  height: 500px;
  width: 500px;
  top: 40px;
  margin-left: 15%;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}
